html, body {
    height: 100%;
}
.header {
    height: 15%;
    border: solid 1px;
}
.content {
    height: 75%;
    border: solid 1px;
}
.footer {
    height: 10%;
    border: solid 1px;
    text-align: center;
}

h1 { 
    text-align: center; 
    size: 2em;
}
.visualiser {
    height: 100%; 
    text-align: center;
}
.dest_panel, .dest_list, .add_dest {
    width: 95%;
    display: inline-block;
}
.content {
    text-align: center;
}
#map {
    height: 95%;
    width: 95%;
    display: inline-block;
}
.dest {
    text-align: left;
}
.destMarker {
    visibility: hidden;
}
